.footer-section-main {
  background-color: #fbd062;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
}
.footer-section {
  display: flex;
  padding: 80px;
}
.padding-15 {
  padding: 15px;
  margin-bottom: 10px;
}

.footer-text h3 {
  height: 70px;
  font-weight: bold;
}

.copyright-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.363);
  width: 100%;
}
