.product-carousel {
  position: relative;
  overflow: hidden;
  padding: 26px;
  margin-bottom: 100px;
  background-color: #111430;
}
.product-container {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.carousel-title {
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50px;
}

.carousel-title-span {
  color: #7ab259;
}

.button-div {
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #242a65;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  display: inline-block;
}

.dot-active {
  background-color: #fbd062;
}
